<h2>Welcome to the KnowledgeStream</h2>
<p>The following are multiple users posts, to create a post login or sign up and then create a post.</p>

<div class="jumbotron">
    <%= render 'posts/posts' %>
</div>
<!--
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>-->




<div class="container">
    <legend>login and create a post your self</legend>
    <%= render 'posts/form' %>
</div>



